.header{

    nav{
       padding: 25px;
       padding-top: 48px;
       padding-bottom: 75px;
    }


    &__logo{

        img{

        }
    }

    &__links{

        a {
            font-size: $font-sm;
            color: $mediumGray;
        }
    }

}

